@model IQueryable<MVCWeb.Models.UserInfo>
@using MVCWeb.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table border="1">
            <tr><th>Name</th><th>Password</th></tr>
            
                @foreach (UserInfo user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.UserPwd</td>
                    </tr>
                }
            
        </table>
        
    </div>
</body>
</html>
