@model Model.ClassInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("Add","ClassInfo",FormMethod.Post))
        {
            @Html.TextBoxFor(c=>c.cTitle)
            <input type="submit"  value="Add" />
        }
        
    </div>
</body>
</html>
